# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uilds/
[Bb]uild/
[Ll]ibrary/
[Aa]pp/
UWP/
WindowsStoreApp/
UnityGenerated/
UnityPackageManager/
project.json
project.lock.json
WSATestCertificate.pfx
WSATestCertificate.pfx.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
/*.sln
*.sln
*.user
*.unityproj
*.ipch
*.opensdf
*.sdf
*.tlog
*.log
*.idb
*.opendb
*.asset

Appbuild/
new-builds/
App-Testing/

Assets/ThirdParty/
Assets/ThirdParty.meta
App2/UnityOverwrite.txt
App2/UnityCommon.props
App2/Unity/Tools/Unity.Cecil.dll
App2/Unity/Tools/Unity.Cecil.Pdb.dll
App2/Unity/Tools/Unity.Cecil.Mdb.dll
App2/Unity/Tools/SerializationWeaver/Unity.UNetWeaver.dll
App2/Unity/Tools/SerializationWeaver/Unity.SerializationWeaver.dll
App2/Unity/Tools/SerializationWeaver/Unity.SerializationWeaver.Common.dll
App2/Unity/Tools/SerializationWeaver/Unity.SerializationLogic.dll
App2/Unity/Tools/SerializationWeaver/Unity.CecilTools.dll
App2/Unity/Tools/SerializationWeaver/Unity.Cecil.dll
App2/Unity/Tools/SerializationWeaver/Unity.Cecil.Rocks.dll
App2/Unity/Tools/SerializationWeaver/Unity.Cecil.Pdb.dll
App2/Unity/Tools/SerializationWeaver/Unity.Cecil.Mdb.dll
App2/Unity/Tools/SerializationWeaver/SerializationWeaver.exe
App2/Unity/Tools/AssemblyConverter.exe
App2/Alarm/nunit.framework.pdb
App2/Alarm/nunit.framework.dll
App2/Alarm/WinRTLegacy.dll
App2/Alarm/Unprocessed/nunit.framework.pdb
App2/Alarm/Unprocessed/nunit.framework.dll
App2/Alarm/Unprocessed/WinRTLegacy.dll
App2/Alarm/Unprocessed/UnityEngine.pdb
App2/Alarm/Unprocessed/UnityEngine.dll
App2/Alarm/Unprocessed/UnityEngine.WindModule.pdb
App2/Alarm/Unprocessed/UnityEngine.WindModule.dll
App2/Alarm/Unprocessed/UnityEngine.WebModule.pdb
App2/Alarm/Unprocessed/UnityEngine.WebModule.dll
App2/Alarm/Unprocessed/UnityEngine.VideoModule.pdb
App2/Alarm/Unprocessed/UnityEngine.VideoModule.dll
App2/Alarm/Unprocessed/UnityEngine.VehiclesModule.pdb
App2/Alarm/Unprocessed/UnityEngine.VehiclesModule.dll
App2/Alarm/Unprocessed/UnityEngine.VRModule.pdb
App2/Alarm/Unprocessed/UnityEngine.VRModule.dll
App2/Alarm/Unprocessed/UnityEngine.UnityWebRequestWWWModule.pdb
App2/Alarm/Unprocessed/UnityEngine.UnityWebRequestWWWModule.dll
App2/Alarm/Unprocessed/UnityEngine.UnityWebRequestTextureModule.pdb
App2/Alarm/Unprocessed/UnityEngine.UnityWebRequestTextureModule.dll
App2/Alarm/Unprocessed/UnityEngine.UnityWebRequestModule.pdb
App2/Alarm/Unprocessed/UnityEngine.UnityWebRequestModule.dll
App2/Alarm/Unprocessed/UnityEngine.UnityWebRequestAudioModule.pdb
App2/Alarm/Unprocessed/UnityEngine.UnityWebRequestAudioModule.dll
App2/Alarm/Unprocessed/UnityEngine.UnityConnectModule.pdb
App2/Alarm/Unprocessed/UnityEngine.UnityConnectModule.dll
App2/Alarm/Unprocessed/UnityEngine.UnityAnalyticsModule.pdb
App2/Alarm/Unprocessed/UnityEngine.UnityAnalyticsModule.dll
App2/Alarm/Unprocessed/UnityEngine.UNETModule.pdb
App2/Alarm/Unprocessed/UnityEngine.UNETModule.dll
App2/Alarm/Unprocessed/UnityEngine.UIModule.pdb
App2/Alarm/Unprocessed/UnityEngine.UIModule.dll
App2/Alarm/Unprocessed/UnityEngine.UIElementsModule.pdb
App2/Alarm/Unprocessed/UnityEngine.UIElementsModule.dll
App2/Alarm/Unprocessed/UnityEngine.UI.pdb
App2/Alarm/Unprocessed/UnityEngine.UI.dll
App2/Alarm/Unprocessed/UnityEngine.Timeline.pdb
App2/Alarm/Unprocessed/UnityEngine.Timeline.dll
App2/Alarm/Unprocessed/UnityEngine.TilemapModule.pdb
App2/Alarm/Unprocessed/UnityEngine.TilemapModule.dll
App2/Alarm/Unprocessed/UnityEngine.TextRenderingModule.pdb
App2/Alarm/Unprocessed/UnityEngine.TextRenderingModule.dll
App2/Alarm/Unprocessed/UnityEngine.TerrainPhysicsModule.pdb
App2/Alarm/Unprocessed/UnityEngine.TerrainPhysicsModule.dll
App2/Alarm/Unprocessed/UnityEngine.TerrainModule.pdb
App2/Alarm/Unprocessed/UnityEngine.TerrainModule.dll
App2/Alarm/Unprocessed/UnityEngine.StyleSheetsModule.pdb
App2/Alarm/Unprocessed/UnityEngine.StyleSheetsModule.dll
App2/Alarm/Unprocessed/UnityEngine.SpriteMaskModule.pdb
App2/Alarm/Unprocessed/UnityEngine.SpriteMaskModule.dll
App2/Alarm/Unprocessed/UnityEngine.ScreenCaptureModule.pdb
App2/Alarm/Unprocessed/UnityEngine.ScreenCaptureModule.dll
App2/Alarm/Unprocessed/UnityEngine.PhysicsModule.pdb
App2/Alarm/Unprocessed/UnityEngine.PhysicsModule.dll
App2/Alarm/Unprocessed/UnityEngine.Physics2DModule.pdb
App2/Alarm/Unprocessed/UnityEngine.Physics2DModule.dll
App2/Alarm/Unprocessed/UnityEngine.PerformanceReportingModule.pdb
App2/Alarm/Unprocessed/UnityEngine.PerformanceReportingModule.dll
App2/Alarm/Unprocessed/UnityEngine.ParticlesLegacyModule.pdb
App2/Alarm/Unprocessed/UnityEngine.ParticlesLegacyModule.dll
App2/Alarm/Unprocessed/UnityEngine.ParticleSystemModule.pdb
App2/Alarm/Unprocessed/UnityEngine.ParticleSystemModule.dll
App2/Alarm/Unprocessed/UnityEngine.Networking.pdb
App2/Alarm/Unprocessed/UnityEngine.Networking.dll
App2/Alarm/Unprocessed/UnityEngine.JSONSerializeModule.pdb
App2/Alarm/Unprocessed/UnityEngine.JSONSerializeModule.dll
App2/Alarm/Unprocessed/UnityEngine.InputModule.pdb
App2/Alarm/Unprocessed/UnityEngine.InputModule.dll
App2/Alarm/Unprocessed/UnityEngine.ImageConversionModule.pdb
App2/Alarm/Unprocessed/UnityEngine.ImageConversionModule.dll
App2/Alarm/Unprocessed/UnityEngine.IMGUIModule.pdb
App2/Alarm/Unprocessed/UnityEngine.IMGUIModule.dll
App2/Alarm/Unprocessed/UnityEngine.HoloLens.pdb
App2/Alarm/Unprocessed/UnityEngine.HoloLens.dll
App2/Alarm/Unprocessed/UnityEngine.GridModule.pdb
App2/Alarm/Unprocessed/UnityEngine.GridModule.dll
App2/Alarm/Unprocessed/UnityEngine.GameCenterModule.pdb
App2/Alarm/Unprocessed/UnityEngine.GameCenterModule.dll
App2/Alarm/Unprocessed/UnityEngine.DirectorModule.pdb
App2/Alarm/Unprocessed/UnityEngine.DirectorModule.dll
App2/Alarm/Unprocessed/UnityEngine.CrashReportingModule.pdb
App2/Alarm/Unprocessed/UnityEngine.CrashReportingModule.dll
App2/Alarm/Unprocessed/UnityEngine.CoreModule.pdb
App2/Alarm/Unprocessed/UnityEngine.CoreModule.dll
App2/Alarm/Unprocessed/UnityEngine.ClothModule.pdb
App2/Alarm/Unprocessed/UnityEngine.ClothModule.dll
App2/Alarm/Unprocessed/UnityEngine.AudioModule.pdb
App2/Alarm/Unprocessed/UnityEngine.AudioModule.dll
App2/Alarm/Unprocessed/UnityEngine.AnimationModule.pdb
App2/Alarm/Unprocessed/UnityEngine.AnimationModule.dll
App2/Alarm/Unprocessed/UnityEngine.AccessibilityModule.pdb
App2/Alarm/Unprocessed/UnityEngine.AccessibilityModule.dll
App2/Alarm/Unprocessed/UnityEngine.ARModule.pdb
App2/Alarm/Unprocessed/UnityEngine.ARModule.dll
App2/Alarm/Unprocessed/UnityEngine.AIModule.pdb
App2/Alarm/Unprocessed/UnityEngine.AIModule.dll
App2/Alarm/Unprocessed/Newtonsoft.Json.pdb
App2/Alarm/Unprocessed/Newtonsoft.Json.dll
App2/Alarm/Unprocessed/GLTFSerializationUWP.pdb
App2/Alarm/Unprocessed/GLTFSerializationUWP.dll
App2/Alarm/Unprocessed/Assembly-CSharp.pdb
App2/Alarm/Unprocessed/Assembly-CSharp.dll
App2/Alarm/UnityGenerated.cs
App2/Alarm/UnityEngine.pdb
App2/Alarm/UnityEngine.dll
App2/Alarm/UnityEngine.WindModule.pdb
App2/Alarm/UnityEngine.WindModule.dll
App2/Alarm/UnityEngine.WebModule.pdb
App2/Alarm/UnityEngine.WebModule.dll
App2/Alarm/UnityEngine.VideoModule.pdb
App2/Alarm/UnityEngine.VideoModule.dll
App2/Alarm/UnityEngine.VehiclesModule.pdb
App2/Alarm/UnityEngine.VehiclesModule.dll
App2/Alarm/UnityEngine.VRModule.pdb
App2/Alarm/UnityEngine.VRModule.dll
App2/Alarm/UnityEngine.UnityWebRequestWWWModule.pdb
App2/Alarm/UnityEngine.UnityWebRequestWWWModule.dll
App2/Alarm/UnityEngine.UnityWebRequestTextureModule.pdb
App2/Alarm/UnityEngine.UnityWebRequestTextureModule.dll
App2/Alarm/UnityEngine.UnityWebRequestModule.pdb
App2/Alarm/UnityEngine.UnityWebRequestModule.dll
App2/Alarm/UnityEngine.UnityWebRequestAudioModule.pdb
App2/Alarm/UnityEngine.UnityWebRequestAudioModule.dll
App2/Alarm/UnityEngine.UnityConnectModule.pdb
App2/Alarm/UnityEngine.UnityConnectModule.dll
App2/Alarm/UnityEngine.UnityAnalyticsModule.pdb
App2/Alarm/UnityEngine.UnityAnalyticsModule.dll
App2/Alarm/UnityEngine.UNETModule.pdb
App2/Alarm/UnityEngine.UNETModule.dll
App2/Alarm/UnityEngine.UIModule.pdb
App2/Alarm/UnityEngine.UIModule.dll
App2/Alarm/UnityEngine.UIElementsModule.pdb
App2/Alarm/UnityEngine.UIElementsModule.dll
App2/Alarm/UnityEngine.UI.pdb
App2/Alarm/UnityEngine.UI.dll
App2/Alarm/UnityEngine.Timeline.pdb
App2/Alarm/UnityEngine.Timeline.dll
App2/Alarm/UnityEngine.TilemapModule.pdb
App2/Alarm/UnityEngine.TilemapModule.dll
App2/Alarm/UnityEngine.TextRenderingModule.pdb
App2/Alarm/UnityEngine.TextRenderingModule.dll
App2/Alarm/UnityEngine.TerrainPhysicsModule.pdb
App2/Alarm/UnityEngine.TerrainPhysicsModule.dll
App2/Alarm/UnityEngine.TerrainModule.pdb
App2/Alarm/UnityEngine.TerrainModule.dll
App2/Alarm/UnityEngine.StyleSheetsModule.pdb
App2/Alarm/UnityEngine.StyleSheetsModule.dll
App2/Alarm/UnityEngine.SpriteMaskModule.pdb
App2/Alarm/UnityEngine.SpriteMaskModule.dll
App2/Alarm/UnityEngine.ScreenCaptureModule.pdb
App2/Alarm/UnityEngine.ScreenCaptureModule.dll
App2/Alarm/UnityEngine.PhysicsModule.pdb
App2/Alarm/UnityEngine.PhysicsModule.dll
App2/Alarm/UnityEngine.Physics2DModule.pdb
App2/Alarm/UnityEngine.Physics2DModule.dll
App2/Alarm/UnityEngine.PerformanceReportingModule.pdb
App2/Alarm/UnityEngine.PerformanceReportingModule.dll
App2/Alarm/UnityEngine.ParticlesLegacyModule.pdb
App2/Alarm/UnityEngine.ParticlesLegacyModule.dll
App2/Alarm/UnityEngine.ParticleSystemModule.pdb
App2/Alarm/UnityEngine.ParticleSystemModule.dll
App2/Alarm/UnityEngine.Networking.pdb
App2/Alarm/UnityEngine.Networking.dll
App2/Alarm/UnityEngine.JSONSerializeModule.pdb
App2/Alarm/UnityEngine.JSONSerializeModule.dll
App2/Alarm/UnityEngine.InputModule.pdb
App2/Alarm/UnityEngine.InputModule.dll
App2/Alarm/UnityEngine.ImageConversionModule.pdb
App2/Alarm/UnityEngine.ImageConversionModule.dll
App2/Alarm/UnityEngine.IMGUIModule.pdb
App2/Alarm/UnityEngine.IMGUIModule.dll
App2/Alarm/UnityEngine.HoloLens.pdb
App2/Alarm/UnityEngine.HoloLens.dll
App2/Alarm/UnityEngine.GridModule.pdb
App2/Alarm/UnityEngine.GridModule.dll
App2/Alarm/UnityEngine.GameCenterModule.pdb
App2/Alarm/UnityEngine.GameCenterModule.dll
App2/Alarm/UnityEngine.DirectorModule.pdb
App2/Alarm/UnityEngine.DirectorModule.dll
App2/Alarm/UnityEngine.CrashReportingModule.pdb
App2/Alarm/UnityEngine.CrashReportingModule.dll
App2/Alarm/UnityEngine.CoreModule.pdb
App2/Alarm/UnityEngine.CoreModule.dll
App2/Alarm/UnityEngine.ClothModule.pdb
App2/Alarm/UnityEngine.ClothModule.dll
App2/Alarm/UnityEngine.AudioModule.pdb
App2/Alarm/UnityEngine.AudioModule.dll
App2/Alarm/UnityEngine.AnimationModule.pdb
App2/Alarm/UnityEngine.AnimationModule.dll
App2/Alarm/UnityEngine.AccessibilityModule.pdb
App2/Alarm/UnityEngine.AccessibilityModule.dll
App2/Alarm/UnityEngine.ARModule.pdb
App2/Alarm/UnityEngine.ARModule.dll
App2/Alarm/UnityEngine.AIModule.pdb
App2/Alarm/UnityEngine.AIModule.dll
App2/Alarm/SpatialUnderstanding.pdb
App2/Alarm/SpatialUnderstanding.dll
App2/Alarm/SharingClient.pdb
App2/Alarm/SharingClient.dll
App2/Alarm/Resource.res
App2/Alarm/Properties/Default.rd.xml
App2/Alarm/Properties/AssemblyInfo.cs
App2/Alarm/Plugins/X86/SpatialUnderstanding.pdb
App2/Alarm/Plugins/X86/SpatialUnderstanding.dll
App2/Alarm/Plugins/X86/SharingClient.pdb
App2/Alarm/Plugins/X86/SharingClient.dll
App2/Alarm/Plugins/X86/PlaneFinding.pdb
App2/Alarm/Plugins/X86/PlaneFinding.dll
App2/Alarm/Plugins/X86/MicStreamSelector.pdb
App2/Alarm/Plugins/X86/MicStreamSelector.dll
App2/Alarm/Plugins/X86/GpuTiming.pdb
App2/Alarm/Plugins/X86/GpuTiming.dll
App2/Alarm/Plugins/X86/AudioPluginMsHRTF.dll
App2/Alarm/Plugins/X64/SpatialUnderstanding.pdb
App2/Alarm/Plugins/X64/SpatialUnderstanding.dll
App2/Alarm/Plugins/X64/SharingClient.pdb
App2/Alarm/Plugins/X64/SharingClient.dll
App2/Alarm/Plugins/X64/PlaneFinding.pdb
App2/Alarm/Plugins/X64/PlaneFinding.dll
App2/Alarm/Plugins/X64/MicStreamSelector.pdb
App2/Alarm/Plugins/X64/MicStreamSelector.dll
App2/Alarm/Plugins/X64/GpuTiming.pdb
App2/Alarm/Plugins/X64/GpuTiming.dll
App2/Alarm/Plugins/X64/AudioPluginMsHRTF.dll
App2/Alarm/Plugins/ARM/SpatialUnderstanding.pdb
App2/Alarm/Plugins/ARM/SpatialUnderstanding.dll
App2/Alarm/Plugins/ARM/SharingClient.pdb
App2/Alarm/Plugins/ARM/SharingClient.dll
App2/Alarm/Plugins/ARM/PlaneFinding.pdb
App2/Alarm/Plugins/ARM/PlaneFinding.dll
App2/Alarm/Plugins/ARM/MicStreamSelector.pdb
App2/Alarm/Plugins/ARM/MicStreamSelector.dll
App2/Alarm/Plugins/ARM/GpuTiming.pdb
App2/Alarm/Plugins/ARM/GpuTiming.dll
App2/Alarm/Plugins/ARM/AudioPluginMsHRTF.dll
App2/Alarm/PlaneFinding.pdb
App2/Alarm/PlaneFinding.dll
App2/Alarm/Package.appxmanifest
App2/Alarm/Newtonsoft.Json.pdb
App2/Alarm/Newtonsoft.Json.dll
App2/Alarm/MicStreamSelector.pdb
App2/Alarm/MicStreamSelector.dll
App2/Alarm/GpuTiming.pdb
App2/Alarm/GpuTiming.dll
App2/Alarm/GLTFSerializationUWP.pdb
App2/Alarm/GLTFSerializationUWP.dll
App2/Alarm/Data/sharedassets0.resource
App2/Alarm/Data/sharedassets0.assets.resS
App2/Alarm/Data/sharedassets0.assets
App2/Alarm/Data/resources.resource
App2/Alarm/Data/resources.assets
App2/Alarm/Data/nativePlugins.txt
App2/Alarm/Data/managedAssemblies.txt
App2/Alarm/Data/level0.resS
App2/Alarm/Data/level0
App2/Alarm/Data/globalgamemanagers.assets
App2/Alarm/Data/globalgamemanagers
App2/Alarm/Data/boot.config
App2/Alarm/Data/Resources/unity_builtin_extra
App2/Alarm/Data/Resources/unity default resources
App2/Alarm/AudioPluginMsHRTF.dll
App2/Alarm/Assets/Wide310x150Logo.scale-200.png
App2/Alarm/Assets/StoreLogo.png
App2/Alarm/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
App2/Alarm/Assets/Square44x44Logo.scale-200.png
App2/Alarm/Assets/Square150x150Logo.scale-200.png
App2/Alarm/Assets/SplashScreen.scale-200.png
App2/Alarm/Assembly-CSharp.pdb
App2/Alarm/Assembly-CSharp.dll
App2/Alarm/App.cs
App1/UnityOverwrite.txt
App1/UnityCommon.props
App1/Unity/Tools/Unity.Cecil.dll
App1/Unity/Tools/Unity.Cecil.Pdb.dll
App1/Unity/Tools/Unity.Cecil.Mdb.dll
App1/Unity/Tools/SerializationWeaver/Unity.UNetWeaver.dll
App1/Unity/Tools/SerializationWeaver/Unity.SerializationWeaver.dll
App1/Unity/Tools/SerializationWeaver/Unity.SerializationWeaver.Common.dll
App1/Unity/Tools/SerializationWeaver/Unity.SerializationLogic.dll
App1/Unity/Tools/SerializationWeaver/Unity.CecilTools.dll
App1/Unity/Tools/SerializationWeaver/Unity.Cecil.dll
App1/Unity/Tools/SerializationWeaver/Unity.Cecil.Rocks.dll
App1/Unity/Tools/SerializationWeaver/Unity.Cecil.Pdb.dll
App1/Unity/Tools/SerializationWeaver/Unity.Cecil.Mdb.dll
App1/Unity/Tools/SerializationWeaver/SerializationWeaver.exe
App1/Unity/Tools/AssemblyConverter.exe
App1/Alarm/nunit.framework.pdb
App1/Alarm/nunit.framework.dll
App1/Alarm/WinRTLegacy.dll
App1/Alarm/Unprocessed/nunit.framework.pdb
App1/Alarm/Unprocessed/nunit.framework.dll
App1/Alarm/Unprocessed/WinRTLegacy.dll
App1/Alarm/Unprocessed/UnityEngine.pdb
App1/Alarm/Unprocessed/UnityEngine.dll
App1/Alarm/Unprocessed/UnityEngine.WindModule.pdb
App1/Alarm/Unprocessed/UnityEngine.WindModule.dll
App1/Alarm/Unprocessed/UnityEngine.WebModule.pdb
App1/Alarm/Unprocessed/UnityEngine.WebModule.dll
App1/Alarm/Unprocessed/UnityEngine.VideoModule.pdb
App1/Alarm/Unprocessed/UnityEngine.VideoModule.dll
App1/Alarm/Unprocessed/UnityEngine.VehiclesModule.pdb
App1/Alarm/Unprocessed/UnityEngine.VehiclesModule.dll
App1/Alarm/Unprocessed/UnityEngine.VRModule.pdb
App1/Alarm/Unprocessed/UnityEngine.VRModule.dll
App1/Alarm/Unprocessed/UnityEngine.UnityWebRequestWWWModule.pdb
App1/Alarm/Unprocessed/UnityEngine.UnityWebRequestWWWModule.dll
App1/Alarm/Unprocessed/UnityEngine.UnityWebRequestTextureModule.pdb
App1/Alarm/Unprocessed/UnityEngine.UnityWebRequestTextureModule.dll
App1/Alarm/Unprocessed/UnityEngine.UnityWebRequestModule.pdb
App1/Alarm/Unprocessed/UnityEngine.UnityWebRequestModule.dll
App1/Alarm/Unprocessed/UnityEngine.UnityWebRequestAudioModule.pdb
App1/Alarm/Unprocessed/UnityEngine.UnityWebRequestAudioModule.dll
App1/Alarm/Unprocessed/UnityEngine.UnityConnectModule.pdb
App1/Alarm/Unprocessed/UnityEngine.UnityConnectModule.dll
App1/Alarm/Unprocessed/UnityEngine.UnityAnalyticsModule.pdb
App1/Alarm/Unprocessed/UnityEngine.UnityAnalyticsModule.dll
App1/Alarm/Unprocessed/UnityEngine.UNETModule.pdb
App1/Alarm/Unprocessed/UnityEngine.UNETModule.dll
App1/Alarm/Unprocessed/UnityEngine.UIModule.pdb
App1/Alarm/Unprocessed/UnityEngine.UIModule.dll
App1/Alarm/Unprocessed/UnityEngine.UIElementsModule.pdb
App1/Alarm/Unprocessed/UnityEngine.UIElementsModule.dll
App1/Alarm/Unprocessed/UnityEngine.UI.pdb
App1/Alarm/Unprocessed/UnityEngine.UI.dll
App1/Alarm/Unprocessed/UnityEngine.Timeline.pdb
App1/Alarm/Unprocessed/UnityEngine.Timeline.dll
App1/Alarm/Unprocessed/UnityEngine.TilemapModule.pdb
App1/Alarm/Unprocessed/UnityEngine.TilemapModule.dll
App1/Alarm/Unprocessed/UnityEngine.TextRenderingModule.pdb
App1/Alarm/Unprocessed/UnityEngine.TextRenderingModule.dll
App1/Alarm/Unprocessed/UnityEngine.TerrainPhysicsModule.pdb
App1/Alarm/Unprocessed/UnityEngine.TerrainPhysicsModule.dll
App1/Alarm/Unprocessed/UnityEngine.TerrainModule.pdb
App1/Alarm/Unprocessed/UnityEngine.TerrainModule.dll
App1/Alarm/Unprocessed/UnityEngine.StyleSheetsModule.pdb
App1/Alarm/Unprocessed/UnityEngine.StyleSheetsModule.dll
App1/Alarm/Unprocessed/UnityEngine.SpriteMaskModule.pdb
App1/Alarm/Unprocessed/UnityEngine.SpriteMaskModule.dll
App1/Alarm/Unprocessed/UnityEngine.ScreenCaptureModule.pdb
App1/Alarm/Unprocessed/UnityEngine.ScreenCaptureModule.dll
App1/Alarm/Unprocessed/UnityEngine.PhysicsModule.pdb
App1/Alarm/Unprocessed/UnityEngine.PhysicsModule.dll
App1/Alarm/Unprocessed/UnityEngine.Physics2DModule.pdb
App1/Alarm/Unprocessed/UnityEngine.Physics2DModule.dll
App1/Alarm/Unprocessed/UnityEngine.PerformanceReportingModule.pdb
App1/Alarm/Unprocessed/UnityEngine.PerformanceReportingModule.dll
App1/Alarm/Unprocessed/UnityEngine.ParticlesLegacyModule.pdb
App1/Alarm/Unprocessed/UnityEngine.ParticlesLegacyModule.dll
App1/Alarm/Unprocessed/UnityEngine.ParticleSystemModule.pdb
App1/Alarm/Unprocessed/UnityEngine.ParticleSystemModule.dll
App1/Alarm/Unprocessed/UnityEngine.Networking.pdb
App1/Alarm/Unprocessed/UnityEngine.Networking.dll
App1/Alarm/Unprocessed/UnityEngine.JSONSerializeModule.pdb
App1/Alarm/Unprocessed/UnityEngine.JSONSerializeModule.dll
App1/Alarm/Unprocessed/UnityEngine.InputModule.pdb
App1/Alarm/Unprocessed/UnityEngine.InputModule.dll
App1/Alarm/Unprocessed/UnityEngine.ImageConversionModule.pdb
App1/Alarm/Unprocessed/UnityEngine.ImageConversionModule.dll
App1/Alarm/Unprocessed/UnityEngine.IMGUIModule.pdb
App1/Alarm/Unprocessed/UnityEngine.IMGUIModule.dll
App1/Alarm/Unprocessed/UnityEngine.HoloLens.pdb
App1/Alarm/Unprocessed/UnityEngine.HoloLens.dll
App1/Alarm/Unprocessed/UnityEngine.GridModule.pdb
App1/Alarm/Unprocessed/UnityEngine.GridModule.dll
App1/Alarm/Unprocessed/UnityEngine.GameCenterModule.pdb
App1/Alarm/Unprocessed/UnityEngine.GameCenterModule.dll
App1/Alarm/Unprocessed/UnityEngine.DirectorModule.pdb
App1/Alarm/Unprocessed/UnityEngine.DirectorModule.dll
App1/Alarm/Unprocessed/UnityEngine.CrashReportingModule.pdb
App1/Alarm/Unprocessed/UnityEngine.CrashReportingModule.dll
App1/Alarm/Unprocessed/UnityEngine.CoreModule.pdb
App1/Alarm/Unprocessed/UnityEngine.CoreModule.dll
App1/Alarm/Unprocessed/UnityEngine.ClothModule.pdb
App1/Alarm/Unprocessed/UnityEngine.ClothModule.dll
App1/Alarm/Unprocessed/UnityEngine.AudioModule.pdb
App1/Alarm/Unprocessed/UnityEngine.AudioModule.dll
App1/Alarm/Unprocessed/UnityEngine.AnimationModule.pdb
App1/Alarm/Unprocessed/UnityEngine.AnimationModule.dll
App1/Alarm/Unprocessed/UnityEngine.AccessibilityModule.pdb
App1/Alarm/Unprocessed/UnityEngine.AccessibilityModule.dll
App1/Alarm/Unprocessed/UnityEngine.ARModule.pdb
App1/Alarm/Unprocessed/UnityEngine.ARModule.dll
App1/Alarm/Unprocessed/UnityEngine.AIModule.pdb
App1/Alarm/Unprocessed/UnityEngine.AIModule.dll
App1/Alarm/Unprocessed/Newtonsoft.Json.pdb
App1/Alarm/Unprocessed/Newtonsoft.Json.dll
App1/Alarm/Unprocessed/GLTFSerializationUWP.pdb
App1/Alarm/Unprocessed/GLTFSerializationUWP.dll
App1/Alarm/Unprocessed/Assembly-CSharp.pdb
App1/Alarm/Unprocessed/Assembly-CSharp.dll
App1/Alarm/UnityGenerated.cs
App1/Alarm/UnityEngine.pdb
App1/Alarm/UnityEngine.dll
App1/Alarm/UnityEngine.WindModule.pdb
App1/Alarm/UnityEngine.WindModule.dll
App1/Alarm/UnityEngine.WebModule.pdb
App1/Alarm/UnityEngine.WebModule.dll
App1/Alarm/UnityEngine.VideoModule.pdb
App1/Alarm/UnityEngine.VideoModule.dll
App1/Alarm/UnityEngine.VehiclesModule.pdb
App1/Alarm/UnityEngine.VehiclesModule.dll
App1/Alarm/UnityEngine.VRModule.pdb
App1/Alarm/UnityEngine.VRModule.dll
App1/Alarm/UnityEngine.UnityWebRequestWWWModule.pdb
App1/Alarm/UnityEngine.UnityWebRequestWWWModule.dll
App1/Alarm/UnityEngine.UnityWebRequestTextureModule.pdb
App1/Alarm/UnityEngine.UnityWebRequestTextureModule.dll
App1/Alarm/UnityEngine.UnityWebRequestModule.pdb
App1/Alarm/UnityEngine.UnityWebRequestModule.dll
App1/Alarm/UnityEngine.UnityWebRequestAudioModule.pdb
App1/Alarm/UnityEngine.UnityWebRequestAudioModule.dll
App1/Alarm/UnityEngine.UnityConnectModule.pdb
App1/Alarm/UnityEngine.UnityConnectModule.dll
App1/Alarm/UnityEngine.UnityAnalyticsModule.pdb
App1/Alarm/UnityEngine.UnityAnalyticsModule.dll
App1/Alarm/UnityEngine.UNETModule.pdb
App1/Alarm/UnityEngine.UNETModule.dll
App1/Alarm/UnityEngine.UIModule.pdb
App1/Alarm/UnityEngine.UIModule.dll
App1/Alarm/UnityEngine.UIElementsModule.pdb
App1/Alarm/UnityEngine.UIElementsModule.dll
App1/Alarm/UnityEngine.UI.pdb
App1/Alarm/UnityEngine.UI.dll
App1/Alarm/UnityEngine.Timeline.pdb
App1/Alarm/UnityEngine.Timeline.dll
App1/Alarm/UnityEngine.TilemapModule.pdb
App1/Alarm/UnityEngine.TilemapModule.dll
App1/Alarm/UnityEngine.TextRenderingModule.pdb
App1/Alarm/UnityEngine.TextRenderingModule.dll
App1/Alarm/UnityEngine.TerrainPhysicsModule.pdb
App1/Alarm/UnityEngine.TerrainPhysicsModule.dll
App1/Alarm/UnityEngine.TerrainModule.pdb
App1/Alarm/UnityEngine.TerrainModule.dll
App1/Alarm/UnityEngine.StyleSheetsModule.pdb
App1/Alarm/UnityEngine.StyleSheetsModule.dll
App1/Alarm/UnityEngine.SpriteMaskModule.pdb
App1/Alarm/UnityEngine.SpriteMaskModule.dll
App1/Alarm/UnityEngine.ScreenCaptureModule.pdb
App1/Alarm/UnityEngine.ScreenCaptureModule.dll
App1/Alarm/UnityEngine.PhysicsModule.pdb
App1/Alarm/UnityEngine.PhysicsModule.dll
App1/Alarm/UnityEngine.Physics2DModule.pdb
App1/Alarm/UnityEngine.Physics2DModule.dll
App1/Alarm/UnityEngine.PerformanceReportingModule.pdb
App1/Alarm/UnityEngine.PerformanceReportingModule.dll
App1/Alarm/UnityEngine.ParticlesLegacyModule.pdb
App1/Alarm/UnityEngine.ParticlesLegacyModule.dll
App1/Alarm/UnityEngine.ParticleSystemModule.pdb
App1/Alarm/UnityEngine.ParticleSystemModule.dll
App1/Alarm/UnityEngine.Networking.pdb
App1/Alarm/UnityEngine.Networking.dll
App1/Alarm/UnityEngine.JSONSerializeModule.pdb
App1/Alarm/UnityEngine.JSONSerializeModule.dll
App1/Alarm/UnityEngine.InputModule.pdb
App1/Alarm/UnityEngine.InputModule.dll
App1/Alarm/UnityEngine.ImageConversionModule.pdb
App1/Alarm/UnityEngine.ImageConversionModule.dll
App1/Alarm/UnityEngine.IMGUIModule.pdb
App1/Alarm/UnityEngine.IMGUIModule.dll
App1/Alarm/UnityEngine.HoloLens.pdb
App1/Alarm/UnityEngine.HoloLens.dll
App1/Alarm/UnityEngine.GridModule.pdb
App1/Alarm/UnityEngine.GridModule.dll
App1/Alarm/UnityEngine.GameCenterModule.pdb
App1/Alarm/UnityEngine.GameCenterModule.dll
App1/Alarm/UnityEngine.DirectorModule.pdb
App1/Alarm/UnityEngine.DirectorModule.dll
App1/Alarm/UnityEngine.CrashReportingModule.pdb
App1/Alarm/UnityEngine.CrashReportingModule.dll
App1/Alarm/UnityEngine.CoreModule.pdb
App1/Alarm/UnityEngine.CoreModule.dll
App1/Alarm/UnityEngine.ClothModule.pdb
App1/Alarm/UnityEngine.ClothModule.dll
App1/Alarm/UnityEngine.AudioModule.pdb
App1/Alarm/UnityEngine.AudioModule.dll
App1/Alarm/UnityEngine.AnimationModule.pdb
App1/Alarm/UnityEngine.AnimationModule.dll
App1/Alarm/UnityEngine.AccessibilityModule.pdb
App1/Alarm/UnityEngine.AccessibilityModule.dll
App1/Alarm/UnityEngine.ARModule.pdb
App1/Alarm/UnityEngine.ARModule.dll
App1/Alarm/UnityEngine.AIModule.pdb
App1/Alarm/UnityEngine.AIModule.dll
App1/Alarm/SpatialUnderstanding.pdb
App1/Alarm/SpatialUnderstanding.dll
App1/Alarm/SharingClient.pdb
App1/Alarm/SharingClient.dll
App1/Alarm/Resource.res
App1/Alarm/Properties/Default.rd.xml
App1/Alarm/Properties/AssemblyInfo.cs
App1/Alarm/Plugins/X86/SpatialUnderstanding.pdb
App1/Alarm/Plugins/X86/SpatialUnderstanding.dll
App1/Alarm/Plugins/X86/SharingClient.pdb
App1/Alarm/Plugins/X86/SharingClient.dll
App1/Alarm/Plugins/X86/PlaneFinding.pdb
App1/Alarm/Plugins/X86/PlaneFinding.dll
App1/Alarm/Plugins/X86/MicStreamSelector.pdb
App1/Alarm/Plugins/X86/MicStreamSelector.dll
App1/Alarm/Plugins/X86/GpuTiming.pdb
App1/Alarm/Plugins/X86/GpuTiming.dll
App1/Alarm/Plugins/X86/AudioPluginMsHRTF.dll
App1/Alarm/Plugins/X64/SpatialUnderstanding.pdb
App1/Alarm/Plugins/X64/SpatialUnderstanding.dll
App1/Alarm/Plugins/X64/SharingClient.pdb
App1/Alarm/Plugins/X64/SharingClient.dll
App1/Alarm/Plugins/X64/PlaneFinding.pdb
App1/Alarm/Plugins/X64/PlaneFinding.dll
App1/Alarm/Plugins/X64/MicStreamSelector.pdb
App1/Alarm/Plugins/X64/MicStreamSelector.dll
App1/Alarm/Plugins/X64/GpuTiming.pdb
App1/Alarm/Plugins/X64/GpuTiming.dll
App1/Alarm/Plugins/X64/AudioPluginMsHRTF.dll
App1/Alarm/Plugins/ARM/SpatialUnderstanding.pdb
App1/Alarm/Plugins/ARM/SpatialUnderstanding.dll
App1/Alarm/Plugins/ARM/SharingClient.pdb
App1/Alarm/Plugins/ARM/SharingClient.dll
App1/Alarm/Plugins/ARM/PlaneFinding.pdb
App1/Alarm/Plugins/ARM/PlaneFinding.dll
App1/Alarm/Plugins/ARM/MicStreamSelector.pdb
App1/Alarm/Plugins/ARM/MicStreamSelector.dll
App1/Alarm/Plugins/ARM/GpuTiming.pdb
App1/Alarm/Plugins/ARM/GpuTiming.dll
App1/Alarm/Plugins/ARM/AudioPluginMsHRTF.dll
App1/Alarm/PlaneFinding.pdb
App1/Alarm/PlaneFinding.dll
App1/Alarm/Package.appxmanifest
App1/Alarm/Newtonsoft.Json.pdb
App1/Alarm/Newtonsoft.Json.dll
App1/Alarm/MicStreamSelector.pdb
App1/Alarm/MicStreamSelector.dll
App1/Alarm/GpuTiming.pdb
App1/Alarm/GpuTiming.dll
App1/Alarm/GLTFSerializationUWP.pdb
App1/Alarm/GLTFSerializationUWP.dll
App1/Alarm/Data/sharedassets0.resource
App1/Alarm/Data/sharedassets0.assets.resS
App1/Alarm/Data/sharedassets0.assets
App1/Alarm/Data/resources.resource
App1/Alarm/Data/resources.assets
App1/Alarm/Data/nativePlugins.txt
App1/Alarm/Data/managedAssemblies.txt
App1/Alarm/Data/level0.resS
App1/Alarm/Data/level0
App1/Alarm/Data/globalgamemanagers.assets
App1/Alarm/Data/globalgamemanagers
App1/Alarm/Data/boot.config
App1/Alarm/Data/Resources/unity_builtin_extra
App1/Alarm/Data/Resources/unity default resources
App1/Alarm/AudioPluginMsHRTF.dll
App1/Alarm/Assets/Wide310x150Logo.scale-200.png
App1/Alarm/Assets/StoreLogo.png
App1/Alarm/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
App1/Alarm/Assets/Square44x44Logo.scale-200.png
App1/Alarm/Assets/Square150x150Logo.scale-200.png
App1/Alarm/Assets/SplashScreen.scale-200.png
App1/Alarm/Assembly-CSharp.pdb
App1/Alarm/Assembly-CSharp.dll
App1/Alarm/App.cs
